In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
os.getcwd()

'C:\\Users\\admin'

In [9]:
# Road csv file
path= "C:/Users/admin/Downloads"
dataset = pd.read_csv(path+"/iris.csv")
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9          3.0           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa
5           5.0          3.6           1.4          0.2  Iris-setosa

os.chdir : 경로 변경

os.getcwd : 현재 경로 확인

os.listdir : 폴더명 반환

os.mkdir, os.makedirs : 폴더 생성

os.remove: 파일 삭제

In [12]:
# 결측치 확인
dataset.isnull()
dataset.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

결측치 - https://computer-science-student.tistory.com/306

In [13]:
#EDA

dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [19]:
# summary  
dataset.describe()  #수치형

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
dataset['class'].unique()  #범주형

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [23]:
dataset['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [24]:
dataset.replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],[1,2,3])

     sepal_length  sepal_width  petal_length  petal_width  class
1             5.1          3.5           1.4          0.2      1
2             4.9          3.0           1.4          0.2      1
3             4.7          3.2           1.3          0.2      1
4             4.6          3.1           1.5          0.2      1
5             5.0          3.6           1.4          0.2      1
..            ...          ...           ...          ...    ...
146           6.7          3.0           5.2          2.3      3
147           6.3          2.5           5.0          1.9      3
148           6.5          3.0           5.2          2.0      3
149           6.2          3.4           5.4          2.3      3
150           5.9          3.0           5.1          1.8      3

[150 rows x 5 columns]