In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.datasets import load_iris  
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import classification_report,confusion_matrix,precision_score,recall_score,f1_score
from sklearn.metrics import accuracy_score

import math
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

from sklearn.model_selection import KFold

In [2]:
# 모델링 - 회귀(Regression) - 불량율

test_df_3 = pd.read_csv("./test_df_3.csv")
a = test_df_3.sort_values(by='불량율_2', ascending = True)
a = a.reset_index(drop='True')
a

,Unnamed: 0,Humidity_max,Temperature_mean,Humidity_mean,case_1,불량율(%),불량율_2
0,24,52.005,33.158153,6.818484,case 31,4.2,0.042
1,47,52.009,33.158146,6.818470,case 52,4.2,0.042
2,31,52.001,33.158050,6.818792,case 38,4.2,0.042
3,16,51.998,33.158143,6.818524,case 24,4.2,0.042
4,39,51.998,33.158136,6.818560,case 45,4.2,0.042
5,23,52.005,33.157015,6.821096,case 30,4.6,0.046
6,46,52.009,33.157007,6.821092,case 51,4.6,0.046
7,38,51.998,33.157004,6.821142,case 44,4.6,0.046
8,30,52.001,33.156906,6.821454,case 37,4.6,0.046
9,15,51.998,33.157008,6.821119,case 23,4.6,0.046
10,14,52.092,33.155840,6.823909,case 22,5.1,0.051
11,37,52.111,33.155836,6.823917,case 43,5.1,0.051
12,21,52.068,33.155846,6.823903,case 29,5.1,0.051
13,29,52.141,33.155732,6.824269,case 36,5.1,0.051
14,45,52.053,33.155838,6.823910,case 50,5.1,0.051
15,40,51.998,33.159252,6.816180,case 46,7.2,0.072
16,32,52.001,33.159163,6.816390,case 39,7.2,0.072
17,48,52.009,33.159247,6.816148,case 53,7.2,0.072
18,25,52.005,33.159258,6.816147,case 32,7.2,0.072
19,17,51.998,33.159254,6.816163,case 25,7.2,0.072
20,28,54.842,33.149471,6.841912,case 35,8.0,0.080
21,43,54.641,33.149620,6.841065,case 49,8.0,0.080
22,20,54.568,33.149628,6.841089,case 28,8.0,0.080
23,36,55.111,33.149616,6.841197,case 42,8.0,0.080
24,13,54.869,33.149620,6.841147,case 21,8.0,0.080
25,41,51.998,33.160322,6.813962,case 47,8.2,0.082
26,34,52.001,33.160245,6.814181,case 40,8.2,0.082
27,18,51.998,33.160329,6.813955,case 26,8.2,0.082
28,49,52.009,33.160333,6.813961,case 54,8.2,0.082
29,26,52.005,33.160339,6.813952,case 33,8.2,0.082
30,27,52.005,33.161378,6.811683,case 34,9.7,0.097
31,42,51.998,33.161361,6.811653,case 48,9.7,0.097
32,50,52.009,33.161371,6.811705,case 55,9.7,0.097
33,19,51.998,33.161368,6.811664,case 27,9.7,0.097
34,35,52.001,33.161297,6.811935,case 41,9.7,0.097
35,44,54.550,33.150976,6.836597,case 5,18.9,0.189
36,0,54.398,33.150958,6.836716,case 1,18.9,0.189
37,54,54.434,33.150831,6.837262,case 9,18.9,0.189
38,4,54.276,33.150945,6.836813,case 13,18.9,0.189
39,8,54.641,33.150973,6.836537,case 17,18.9,0.189
40,52,53.293,33.153456,6.829844,case 7,19.8,0.198
41,51,54.291,33.152239,6.832990,case 6,19.8,0.198
42,1,54.434,33.152117,6.833441,case 10,19.8,0.198
43,2,53.539,33.153336,6.830256,case 11,19.8,0.198
44,5,54.150,33.152230,6.833047,case 14,19.8,0.198
45,6,53.405,33.153445,6.829857,case 15,19.8,0.198
46,9,54.337,33.152229,6.832983,case 18,19.8,0.198
47,10,53.256,33.153448,6.829851,case 19,19.8,0.198
48,11,54.213,33.152233,6.833020,case 2,19.8,0.198
49,22,53.355,33.153450,6.829849,case 3,19.8,0.198
50,7,52.528,31.167189,7.812161,case 16,29.3,0.293
51,3,52.616,31.167095,7.812510,case 12,29.3,0.293
52,12,52.482,31.167189,7.812100,case 20,29.3,0.293
53,33,52.513,31.167188,7.812135,case 4,29.3,0.293
54,53,52.493,31.167197,7.812106,case 8,29.3,0.293

In [3]:
# 데이터 늘리기 
# 동일한 균형으로 데이터 생성

# 난수 생성 - label(불량율)
import random

target_list = []
for i in range(145):
    value = round(random.uniform(0.03,0.3),4)
    # print(value)
    target_list.append(value)
    
len(target_list)
# feature 값 생성하기 target_list

145

In [4]:
# feature 값 생성하기 
# 구간 함수 생성

def Humi_mean(t):
    if t>=0.2 and t<0.3:
        H = 10*t + 4.8
    else:
        H = 6.8
        
    return H

def Temp_mean(t):
    if t>=0.2 and t<0.3:
        T = -19.4*t + 37
    else: 
        T = 33.15  # 평균 값으로 대체 
    
    return T

def Humi_max(t):
    if t<=0.072:
        H_m = 52
    elif t>0.072 and t<0.08:
        H_m = 53
    elif t == 0.08:
        H_m = 54.5  # 54~55.1 
    elif t>0.08 and t<0.082:
        H_m = 53
    elif t>=0.082 and t<=0.097:
        H_m = 52 #51.99~52
    elif t>0.097 and t<0.3:
        H_m = -19*t + 58.2

    return H_m

In [5]:
Humi_mean_l = []
Temp_mean_l = []
Humi_max_l = []


for t in target_list:
    #print(t)
    H = Humi_mean(t)
    T = Temp_mean(t)
    H_m = Humi_max(t)

    Humi_mean_l.append(H)
    Temp_mean_l.append(T)
    Humi_max_l.append(H_m)
    
    
df = pd.DataFrame()
df['Humidity_mean'] = Humi_mean_l
df['Temperature_mean'] = Temp_mean_l
df['Humidity_max'] = Humi_max_l
df['불량율'] = target_list
#
p = [round(i,2)*100 for i in target_list]
df['불량율(%)'] = p
print(df)
print(df.describe())

     Humidity_mean  Temperature_mean  Humidity_max     불량율  불량율(%)
0            6.800          33.15000       55.5590  0.1390    14.0
1            7.704          31.36624       52.6824  0.2904    29.0
2            6.800          33.15000       52.0000  0.0440     4.0
3            6.800          33.15000       56.2791  0.1011    10.0
4            6.800          33.15000       55.6027  0.1367    14.0
..             ...               ...           ...     ...     ...
140          6.800          33.15000       54.7021  0.1841    18.0
141          6.800          33.15000       56.1499  0.1079    11.0
142          6.800          33.15000       52.0000  0.0840     8.0
143          6.800          33.15000       56.0948  0.1108    11.0
144          6.800          33.15000       52.0000  0.0717     7.0

[145 rows x 5 columns]
       Humidity_mean  Temperature_mean  Humidity_max         불량율      불량율(%)
count     145.000000        145.000000    145.000000  145.000000  145.000000
mean        6.963710         32.822264     54.156785    0.167106   16.724138
std         0.286292          0.566906      1.387631    0.071345    7.101919
min         6.800000         31.255660     52.000000    0.032800    3.000000
25%         6.800000         32.636940     53.000000    0.109700   11.000000
50%         6.800000         33.150000     54.344900    0.165200   17.000000
75%         7.049000         33.150000     55.386100    0.224900   22.000000
max         7.761000         33.150000     56.320900    0.296100   30.000000

In [8]:
test_df = pd.concat([df[['Humidity_mean','Temperature_mean','Humidity_max','불량율(%)']],a[['Humidity_mean','Temperature_mean','Humidity_max','불량율(%)']]])
test_df = test_df.reset_index()
test_df

     index  Humidity_mean  Temperature_mean  Humidity_max  불량율(%)
0        0       6.800000         33.150000       55.5590    14.0
1        1       7.704000         31.366240       52.6824    29.0
2        2       6.800000         33.150000       52.0000     4.0
3        3       6.800000         33.150000       56.2791    10.0
4        4       6.800000         33.150000       55.6027    14.0
..     ...            ...               ...           ...     ...
195     50       7.812161         31.167189       52.5280    29.3
196     51       7.812510         31.167095       52.6160    29.3
197     52       7.812100         31.167189       52.4820    29.3
198     53       7.812135         31.167188       52.5130    29.3
199     54       7.812106         31.167197       52.4930    29.3

[200 rows x 5 columns]

In [9]:
target_yn = []
for i  in test_df['불량율(%)']:
    if i>10:
        target_yn.append("y") #불량
    else:
        target_yn.append("n") #정상
        
test_df['target_yn'] = target_yn
test_df.head()

# LabelEncoder를 객체로 생성
encoder = LabelEncoder()
# fit, transform 메소드를 통한 레이블 인코딩
encoder.fit(test_df['target_yn'])
test_df["target"] = encoder.transform(test_df['target_yn'])
print(test_df.head())

   index  Humidity_mean  Temperature_mean  Humidity_max  불량율(%) target_yn  \
0      0          6.800          33.15000       55.5590    14.0         y
1      1          7.704          31.36624       52.6824    29.0         y
2      2          6.800          33.15000       52.0000     4.0         n
3      3          6.800          33.15000       56.2791    10.0         n
4      4          6.800          33.15000       55.6027    14.0         y

   target
0       1
1       1
2       0
3       0
4       1

In [11]:
#train_test_split
x_train, x_test, y_train, y_test = train_test_split(test_df[['Humidity_max','Temperature_mean','Humidity_mean','target']], test_df['target'].values, test_size=0.5, random_state=7777)
print("X_train:", x_train.head())
print("y_train:", y_train)

X_train:      Humidity_max  Temperature_mean  Humidity_mean  target
51        52.0000         33.150000       6.800000       0
5         53.7540         32.460400       7.140000       1
3         56.2791         33.150000       6.800000       0
167       54.5680         33.149628       6.841089       0
155       52.0920         33.155840       6.823909       0
y_train: [0 1 0 0 0 0 1 0 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 0 0 1 0 1 1 1 0 1 0 1
 1 1 0 1 0 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 0 1 1 0
 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 0 0 1]

In [12]:
dt = DecisionTreeClassifier(random_state = 20)
dt.fit(x_train,y_train)
pred = dt.predict(x_test)
print(pred)
print(y_test)

[1 0 1 0 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 1 0 1 1 0 1 0 1 0 0 1 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 0
 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 0 0 1]
[1 0 1 0 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 1 0 1 1 0 1 0 1 0 0 1 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 0
 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 0 0 1]

In [13]:
print('accuracy:{0:.2f}'.format(accuracy_score(y_test,pred)))

accuracy:1.00

In [14]:
result = pd.DataFrame()
result['y_test'] = y_test
result['pred'] = pred
result

    y_test  pred
0        1     1
1        0     0
2        1     1
3        0     0
4        0     0
..     ...   ...
95       1     1
96       0     0
97       0     0
98       0     0
99       1     1

[100 rows x 2 columns]

In [15]:
confusion_matrix = confusion_matrix(result['y_test'],result['pred'])
confusion_matrix = pd.DataFrame(confusion_matrix, index=['실제값(TN)', '실제값(FP)'], columns=['예측값(FN)', '예측값(TP)'])
confusion_matrix

         예측값(FN)  예측값(TP)
실제값(TN)       34        0
실제값(FP)        0       66

In [16]:
print(classification_report(result['y_test'], result['pred']))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        34
           1       1.00      1.00      1.00        66

    accuracy                           1.00       100
   macro avg       1.00      1.00      1.00       100
weighted avg       1.00      1.00      1.00       100

In [17]:
# 10-fold cross validation(classification)
# 높은 정확도로 우연한 결과인지 판단하기 위해 k-flod 교차검증을 통해 평균 accuracy를 구한다.

n = 0
total_acc = []
kf = KFold(n_splits=2)
feature = test_df[['Humidity_max','Temperature_mean','Humidity_mean']]
label = test_df['target']

for train_idx, test_idx in kf.split(feature):
    print("train_data: %s, test_data: %s" % (train_idx, test_idx))
    print(len(train_idx),len(test_idx))
    x_train, x_test = feature.iloc[train_idx,], feature.iloc[test_idx]
    y_train, y_test = label[train_idx], label[test_idx]
    
    dt = DecisionTreeClassifier()
    dt.fit(x_train,y_train)
    pred = dt.predict(x_test)
    n += 1
    accuracy = np.round(accuracy_score(y_test,pred),4)
    
    print("\n # {0}번째 교차 검증 정확도: {1}".format(n,accuracy))
    print(classification_report(y_test, pred))
    total_acc.append(accuracy)
    
print("\n 평균 정확도: ", np.mean(total_acc))

train_data: [100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199], test_data: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
100 100

 # 1번째 교차 검증 정확도: 0.97
              precision    recall  f1-score   support

           0       1.00      0.87      0.93        23
           1       0.96      1.00      0.98        77

    accuracy                           0.97       100
   macro avg       0.98      0.93      0.96       100
weighted avg       0.97      0.97      0.97       100

train_data: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99], test_data: [100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199]
100 100

 # 2번째 교차 검증 정확도: 0.94
              precision    recall  f1-score   support

           0       0.97      0.88      0.93        42
           1       0.92      0.98      0.95        58

    accuracy                           0.94       100
   macro avg       0.95      0.93      0.94       100
weighted avg       0.94      0.94      0.94       100


 평균 정확도:  0.955